<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand">Booking</a>
    <div class="navbar-nav ms-auto"> <!-- Added a wrapper for navbar items -->
      <a class="navbar-brander" href="/booking">Booking</a>
      <a class="navbar-brander" href="/historysearch">History</a>
      <a class="navbar-brander" href="/login">Logout</a>
    </div>
  </div>
</nav>


  
  <form>
    <label for="studentInput">Enter username</label>
    <input
      id="studentInput"
      type="text"
      [(ngModel)]="enteredStudentName"
      name="student_name"
      placeholder="Type username"
    />
    
    <!-- Button to Check -->
    <button type="button" (click)="checkStudentName()">Check</button>
  
    <label for="packageSelect">Select Package</label>
    <select id="packageSelect" [(ngModel)]="selectedPackageId" name="package_id" (change)="onPackageSelect()">
      <option *ngFor="let package of packages" [value]="package.package_id">
        {{ package.package_name }}
      </option>
    </select>

    <button type="button" (click)="onSubmit()">Submit</button>
  </form>
  
  <!-- Show a message if the student name is found -->
  <!-- <p *ngIf="isStudentFound !== null">
    {{ isStudentFound ? "Student found!" : "Student not found!" }}
  </p> -->
  <div *ngIf="isStudentFound" class="details-container">
    <div class="left-side">
      <h3>Student Details</h3>
      <p><strong>Name:</strong> {{ foundStudent.stname }}</p>
      <p><strong>Phone:</strong> {{ foundStudent.course }}</p>
      <p><strong>E-Mail:</strong> {{ foundStudent.fee }}</p>
    </div>
  
    <!-- Show the selected package details -->
    <div *ngIf="selectedPackage" class="right-side">
      <h3>Package Details</h3>
      <p><strong>Package Name:</strong> {{ selectedPackage.package_name }}</p>
      <p><strong>Package Destination:</strong> {{ selectedPackage.package_desti }}</p>
      <p><strong>Package Origin:</strong> {{ selectedPackage.package_arr }}</p>
      <p><strong>Price:</strong> {{ selectedPackage.package_price }}</p>
      <p><strong>Description:</strong> {{ selectedPackage.package_go }}</p>
      <!-- Add other package details as needed -->
    </div>
  </div>
  